doctype html 
html(lang='pl')
    head
        title="Wirtualny indeks"
    body
        nav
            ul
                li
                    a(href='/') Start 
                li
                    a(href='/list') Lista
                li
                    a(href='/add') Dodaj
        main
            block content 
        footer
            p Apka w NodeJS, Express, Pug
                