extends layout 
block content
    h1 Lista
    table
        tr 
            th Lp.
            th Przedmiot 
            th Ocena
            th Edytuj
            th Usuń
        each course, index in coursesList 
            tr
                td=index+1
                td=course.name 
                td=course.note
                td
                    a(href="/edit/"+course.id) Edytuj &gt;
                td
                    a(href="/edit/"+course.id) Edytuj &gt;